<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Thymeleaf</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
	  
	  <style>
		  body{
			  background-color: #3445b4;
			  height: 100vh;
		  }
	  </style>

	<div class="container">

		<div class="row justify-content-center align-items-center" style="height: 100vh;">

			<div class="col-md-8 d-flex justify-content-center align-items-center">
			
				<form th:action="@{/marchi/nuovoTruck}" method="post" th:object="${truckDTO}" class="row g-3" style="background-color: white; padding: 40px; border-radius: 5px;">
						<h1 class="text-center" style="color: #3445b4;">Nuovo Truck</h1>
						<!-- 1 -->
					  <div class="col-md-6">
					    <label for="inputEmail4" class="form-label">Nome</label>
					    <!-- l'input é associato al nome di utenteDTO -->
					    <input class="form-control" th:field="${truckDTO.nome}">
						<p th:if="${#fields.hasErrors('nome')}" th:errorClass="text-danger" th:errors="${truckDTO.nome}"></p>
					  </div>
					  <!-- 2 -->
					  <div class="col-md-6">
					    <label for="inputPassword4" class="form-label">descrizione</label>
					    <input class="form-control" th:field="${truckDTO.descrizione}">
						<p th:if="${#fields.hasErrors('descrizione')}" th:errorClass="text-danger" th:errors="${truckDTO.descrizione}"></p>
					  </div>
					  <!-- 3 -->
					  <div class="col-md-6">
					    <label for="inputAddress" class="form-label">indirizzo</label>
					    <input type="form-control" class="form-control" th:text="${truckDTO.indirizzo}" name="indirizzo">
							<p th:if="${#fields.hasErrors('indirizzo')}" th:errorClass="text-danger" th:errors="${truckDTO.indirizzo}"></p>
					  </div>
					  <!-- 4 -->
					  <div class="col-md-6">
					    <label for="disponibilita" class="form-label">disponibilita</label>
					    <select class="form-select" th:field="${truckDTO.disponibilita}">
								<option value="true">disponibile</option>
								<option value="false">non disponibile</option>
							</select>
							<p th:if="${#fields.hasErrors('disponibilita')}" th:errorClass="text-danger" th:errors="${truckDTO.disponibilita}"></p>
					  </div>
					  <!-- 5 -->
					  <div class="col-md-6">
					    <label for="inputCity" class="form-label">coordinate</label>
					    <input class="form-control" type="text" th:field="${truckDTO.coordinateGps}">
							<p th:if="${#fields.hasErrors('coordinateGps')}" th:errorClass="text-danger" th:errors="${truckDTO.coordinateGps}"></p>
					  </div>
					  <!-- 6 -->
					  <div class="col-md-6">
					    <label for="inputState" class="form-label">immagine</label>
					    <input class="form-control" th:field="${truckDTO.immagine}">
							<p th:if="${#fields.hasErrors('immagine')}" th:errorClass="text-danger" th:errors="${truckDTO.immagine}"></p>
					  </div>
					  <div class="col-md-6 d-flex" style=" width: -webkit-fill-available; align-items: center;">
					    <label for="inputState" class="form-label"style="text-wrap: nowrap; margin-right :20px; ">marchio id</label>
					    <!-- todo marchioid si riferisce all'id del marchio, collegamento thymeleaf marchiController riga 57 -->
					    <input class="form-control-plaintext bg-secondary bg-opacity-25 text-center rounded-3" th:field="*{marchioId}" readonly>
							<p th:if="${#fields.hasErrors('marchioId')}" th:errorClass="text-danger" th:errors="${truckDTO.marchioId}"></p>
					  </div>
					 
					  <div class="col-12">
					    <button type="submit" class="btn btn-success px-4">Invia</button>
					    
							<a class="btn btn-outline-primary" href="/marchi" role="button">Torna Indietro</a>
						
					  </div>
					  
				</form>
				
				
			</div>

		</div>

	</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>