<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Thymeleaf</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
	  
	  <style>
		  body{
			  background-color: #3445b4;
			  height: 100vh;
		  }
	  </style>

	<div class="container">

		<div class="row justify-content-center align-items-center" style="height: 100vh;">

			<div class="col-md-8 d-flex justify-content-center align-items-center">


				<form method="post" enctype="multipart/form-data" th:object="${utenteDTO}" style="background-color: white; padding: 40px; border-radius: 5px;">
					<h1 class="text-center" style="color: #3445b4;">Modifica Utente</h1>

					<!-- ID -->
					<div class="row mb-3">
						<label class="col-sm-3 col-form-label">Id</label>
						<div class="col-sm-9">
							<!-- il th:value "prodotto" si riferisce al model.addAttribute a riga 84 -->
							<input readonly class="form-control-plaintext" th:value="${utente.id}">
						</div>
					</div>

					
					<!-- 1 -->
					<div class="row mb-3">
						<label class="col-sm-3 col-form-label">Nome</label>
						<div class="col-sm-9">
							<!-- l'input é associato al nome di utenteDTO -->
							<input class="form-control" th:field="${utenteDTO.nome}">
							<p th:if="${#fields.hasErrors('nome')}" th:errorClass="text-danger" th:errors="${utenteDTO.nome}"></p>
						</div>
					</div>

					<!-- 2 -->
					<div class="row mb-3">
						<label class="col-sm-3 col-form-label">Cognome</label>
						<div class="col-sm-9">
							<input class="form-control" th:field="${utenteDTO.cognome}">
							<p th:if="${#fields.hasErrors('cognome')}" th:errorClass="text-danger" th:errors="${utenteDTO.cognome}"></p>
						</div>
					</div>

					<!-- 3 -->
					<div class="row mb-3 d-none">
						<label class="col-sm-3 col-form-label">Data di nascita</label>
						<div class="col-sm-9">
							<input readonly type="text" class="form-control" th:field="${utenteDTO.data_nascita}">
							<p th:if="${#fields.hasErrors('data_nascita')}" th:errorClass="text-danger" th:errors="${utenteDTO.data_nascita}"></p>
						</div>
					</div>

					<!-- 4 -->
					<div class="row mb-3">
						<label class="col-sm-3 col-form-label">Email</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" th:field="${utenteDTO.email}">
							<p th:if="${#fields.hasErrors('email')}" th:errorClass="text-danger" th:errors="${utenteDTO.email}"></p>
						</div>
					</div>

					<!-- 5 -->
					<div class="row mb-3">
						<label class="col-sm-3 col-form-label">Password</label>
						<div class="col-sm-9">
							<input class="form-control" th:field="${utenteDTO.password}">
							<p th:if="${#fields.hasErrors('password')}" th:errorClass="text-danger" th:errors="${utenteDTO.password}"></p>
						</div>
					</div>

					<!-- 6 -->
					<div class="row mb-4">
						<label class="col-sm-3 col-form-label">Ruolo</label>
						<div class="col-sm-9">
							<select class="form-select" th:field="${utenteDTO.ruolo}">
								<option value="ADMIN">Admin</option>
								<option value="USER">User</option>
							</select>
							<p th:if="${#fields.hasErrors('ruolo')}" th:errorClass="text-danger" th:errors="${utenteDTO.ruolo}"></p>
						</div>
					</div>


					
					<div class="col-12 ">
					    <button type="submit" class="btn btn-success px-4">Modifica</button>
					    
							<a class="btn btn-outline-primary" href="/utenti" role="button">Torna Indietro</a>
						
					  </div>

				</form>
			</div>

		</div>

	</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>